# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist
dist-ghpages

# ide
.idea
.vscode

\.DS_Store


# csak webstorm path alias miatt kell, nuxt.config-bol jon egyebkent minden
webpack.config.js
