h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #252525;
  font-weight: 400;
}

h1 {
  margin-bottom: 10px;
  font-size: 48px;
  line-height: 60px;
}

h2 {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 46px;
}

h3 {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 40px;
}

h4 {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 34px;
}

h5 {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 30px;
}

h6 {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 28px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #252525;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #00f0d1;
  text-decoration: none;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: inherit;
  font-size: 85%;
}

p {
  margin-bottom: 20px;
}

.comics-title{
  font-family: 'Bangers', cursive;
  text-transform: uppercase;
}

/* LINKS */
a {
  color: #3b73c9;
}

a:hover,
a:focus {
  outline: 0;
  color: #00f0d1;
  text-decoration:none;
}

.see-more {
  display: inline-block;
  color: #252525;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.see-more:after {
  display: block;
  width: auto;
  height: 2px;
  margin-top: -5px;
  background: #00f0d1;
  background: -webkit-linear-gradient(90deg, #00f0d1, #a966ee);
  background: -ms-linear-gradient(90deg, #00f0d1, #a966ee);
  background: linear-gradient(90deg, #00f0d1, #a966ee);
  content: "";
}

.see-more:hover {
  color: #00f0d1;
  text-decoration: none;
}


/* IMAGES */
img {
  max-width: 100%;
  height: auto;
}


/* ADDRESS */
address {
  line-height: inherit;
}

/* TRANFORMATION CLASSES */
.text-mute {
  color: #c2c2c2;
}

.text-default-color {
  background: -webkit-linear-gradient(90deg, #00f0d1, #c44fcb);
  background: -ms-linear-gradient(90deg, #00f0d1, #c44fcb);
  background: linear-gradient(90deg, #00f0d1, #c44fcb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-highlight {
  padding: 2px 10px;
  background: #00f0d1;
  background: -webkit-linear-gradient(90deg, #00f0d1, #c44fcb);
  background: -ms-linear-gradient(90deg, #00f0d1, #c44fcb);
  background: linear-gradient(90deg, #00f0d1, #c44fcb);
  color: #fff;
  font-weight: 600;
}

.text-highlight-dark {
  padding: 2px 10px;
  background-color: #252525;
  color: #fff;
  font-weight: 600;
}

.text-highlight a {
  color: inherit;
}

.text-bg-danger {
  display: inline-block;
  padding: 2px 15px;
  background-color: #ff0050;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}

.dropcap:first-letter {
  float: left;
  font-size: 52px;
  line-height: 64px;
  margin-top: 5px;
  margin-right: 10px;
}

.border {
  padding: 0 10px 2px 12px;
  border-width: 2px !important;
}

.last,
.no-margin-bottom {
  margin-bottom: 0 !important;
}


/* DARK SECTION */
.full-section.dark-section a,
.full-section.dark-section h1,
.full-section.dark-section h2,
.full-section.dark-section h3,
.full-section.dark-section h4,
.full-section.dark-section h5,
.full-section.dark-section h6 {
  color: #fff;
}

.full-section.dark-section a:hover {
  color: #00f0d1;
}

@media (max-width: 767px) {

  h1 {
    font-size: 40px;
    line-height: 56px;
  }

  .last {
    margin-bottom: 20px !important;
  }

}
